body {
  background-color: rgb(140, 140, 212);
  display: flex;
  justify-content: center;
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.scores {
  padding-right: 100px;
}

.cardsContainer {
  align-self: center;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.pokemonCard {
  width: 20%;
  outline: 1px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 50px 10px;
  background-color: #61dafbaa;
}

.pokemonCard:hover {
  transform: scale(1.02);
  cursor: pointer;
}

img {
  width: 80%;
}

#reset {
  background-color: rgb(228, 88, 88);
}


@media (max-width: 768px) {
  .header {
    margin-bottom: 10px;
  }
  .title {
    font-size: 26px;
  }

  .rules {
    font-size: 16px;
  }
  .cardsContainer {
    gap: 15px;
  }

  .pokemonCard {
    padding: 30px 10px 30px 10px;
  }

  .gameRules {
    width: 50%;
  }

  .scores {
    padding-right: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
