body {
  display: flex;
  width: 100%;
  height: 100vh;
  color: black;
  margin: 0;
  min-width: 320px;
  background-image: url('../gifs/7951512.jpg');
  background-position: 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}
.gameRules {
  margin-left: 20px;
  color: white;
}

.scores {
  color: white;
  margin-right: 20px;
}
.pokemonFacts {
  width: 50%;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.cardsContainer {
  align-self: center;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  /* top: 17%; */
}

.pokemonCard {
  width: 20%;
  max-width: 196px;
  height: 199px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 50px 10px;
  background-color: #f4c244;
  max-height: 33%;
  border-radius: 12px;
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  perspective: 1000px;
  background-image: url('../assets/foreground.jpg');
  background-position: center;
  background-size: cover;
}

.flip {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.front {
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20%;
  height: 100%;
}

.back {
  background-image: url('../assets/pokemon_card_backside.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

img {
  max-width: 60%;
  cursor: pointer;
  border-radius: 12px;
}

#reset {
  background-color: rgb(241, 81, 81);
  color: black;
}

#reset:hover {
  background-color: rgb(177, 68, 68);
}
#randomize {
  color: black;
  background-color: white;
  margin-top: 2px;
}

#randomize:hover {
  background-color: rgb(189, 189, 189);
}

#reset:active, #randomize:active {
  transform: scale(0.95);
}

#reset:hover, #randomize:hover {
  outline: none;
  border-color: transparent;
}

#loading {
  width: 450px;
  margin-top: 45%;
}

@media (max-width: 768px) {
  body {
    height: fit-content;
  }
  #root {
    /* padding-top: 25px; */
    padding-bottom: 25px;
    align-self: center;
  }
  .header {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .title {
    font-size: 22px;
    margin: 0;
    padding-top: 5px;
  }

  .rules {
    font-size: 14px;
    margin: 0;
  }
  .cardsContainer {
    /* margin-bottom: 10px; */
    /* margin-top: 20px; */
    /* top: 20%; */
    gap: 10px;
  }

  .pokemonCard {
    width: 20%;
    height: 90px;
    padding: 30px 10px 10px 10px;
  }

  .back {
    background-position: center;
    background-size: cover;
    top: 0;
  }

  img {
    width: 80px;
  }

  .gameRules {
    width: 50%;
  }

  .scores {
    padding-right: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .scores > h4 {
    margin: 0;
  }
  #reset {
    margin-top: 8px;
  }

  #loading {
    max-width: 60%;
    margin-top: 20%;
  }

}