body {
  background-color: rgb(140, 140, 212);
  display: flex;
  width: 100%;
  height: 100vh;
  color: black;
  margin: 0;
  min-width: 320px;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-image: url('../gifs/7951512.jpg');
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}
.gameRules {
  margin-left: 20px;
  color: white;
}

.scores {
  color: white;
  margin-right: 20px;
}

.cardsContainer {
  align-self: center;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.pokemonCard {
  width: 20%;
  outline: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px 50px 10px;
  background-color: #f4c244;
  max-height: 33%;
}

.pokemonCard:hover {
  transform: scale(1.02);
}

img {
  width: 200px;
  max-width: 60%;
  cursor: pointer;
}

#reset {
  background-color: rgb(228, 88, 88);
  color: black;
}
#randomize {
  color: black;
  background-color: white;
  margin-top: 2px;
}

#loading {
  position: absolute;
  top: 40%;
  width: 350px;
}

@media screen and (min-width: 1500px) and (max-width: 1540px) {

  img {
    width: 80px;
  }
  .pokemonCard {
    width: 240px;
    height: 100px;
    padding: 30px 5px 30px 5px;
  }


}

@media (max-width: 768px) {
  body {
    height: 86vh;
  }
  #root {
    align-self: center;
  }
  .header {
    margin-bottom: 10px;
  }
  .title {
    font-size: 26px;
    margin: 0;
  }

  .rules {
    font-size: 16px;
    margin: 0;
  }
  .cardsContainer {
    gap: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .pokemonCard {
    padding: 30px 10px 10px 10px;
  }

  img {
    max-width: 50px;
  }

  .gameRules {
    width: 50%;
  }

  .scores {
    padding-right: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .scores > h4 {
    margin: 0;
  }
  #reset {
    margin-top: 8px;
  }

  #loading {
    max-width: 60%;
  }

}
